*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    text-align: center;
}
section {
    padding: 20px 0;
}

div#containerListOne,
div#containerListTwo,
div#containerListThree {
    padding: 70px 0;
}

/* PRIMO STEP */
div#containerListOne {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-transform: capitalize;
}

div.strumento {
    height: 50px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

/* EXTRA BONUS */
div#containerListTwo {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 30px;
}

div.numeri_random {
    padding: 30px 0;
    text-align: center;
    background-color: sandybrown;
}

/* SUPER EXTRA BONUS */
